POSTGRES_DB=remoterun
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

FRONTEND_PORT=8081
APP_ORIGIN=http://localhost:8081
COOKIE_SECURE=false
GOPROXY=https://goproxy.cn,direct

SESSION_NAME=remoterun_session
SESSION_SECRET=change-this-session-secret-please-32chars

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
